@media screen and (max-width: 1015px){
.imagem{
display: flex;
width: 20%;
height: 430px;
justify-content: center;
align-items: center;
}
img{
width: 95%;
}
.formulario{
width: 35%;
height: 430px;
display: flex;
justify-content: center;
align-items: center;
}
form {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
width: 95%;
}
.titulo-login{
width: 90%;
justify-content: space-around;
height: 45px;
}

.caixa-texto{
width: 90%;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5px;

}
.caixa-texto input {
width: 90%;
padding: 15px;
margin: 12px

}
#btn {
width: 90%;
height: 95px;
display: flex;
align-items: center;
justify-content: center;
}

#btn input {
width: 90%;
padding: 15px;
margin-top: 20px;

}

p{
font-size: 12px;
}
}

@media screen and (max-width: 850px){
.imagem{
display: none;
}

img{
display: none;
}

.formulario{
border-radius: 20px;
width: 50%;
height: 400px;
}
.caixa-texto input {
width: 85%;
padding: 15px;
}
#btn input {
width: 85%;
padding: 15px;
}
}
@media screen and (max-width:650px){
.formulario{
width: 70%;
}
}
    
@media screen and (max-width:500px) {
.formulario{
width: 80%;
}
}

@media screen and (max-width:460px) {
.formulario{
width: 90%;
}
}