@media screen and (max-width: 1120px){
.imagem{
display: flex;
width: 20%;
justify-content: center;
align-items: center;
}
img{
width: 95%;
}
.formulario{
width: 35%;
height: 450px;
display: flex;
justify-content: center;
align-items: center;
}
form {
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;
width: 95%;
}
.titulo-login{
width: 90%;
justify-content: space-around;
height: 45px;
}

.caixa-texto{
width: 90%;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 5px;

}
.caixa-texto input {
width: 90%;
height: 40px;
margin-top: 5px;
margin-bottom: 15px;
}
#btn {
width: 90%;
height: 90px;
display: flex;
align-items: center;
justify-content: center;
}

#btn input {
display: flex;
justify-content: center;
width: 95%;
height: 40px;
align-items: center;
margin-top: 5px;
margin-bottom: 15px;
}
p{
font-size: 12px;
margin-bottom: 5px;
}
}

@media screen and (max-width: 830px){
.imagem{
display: none;
}

img{
display: none;
}

.formulario{
border-radius: 10px;
width: 50%;
}
}
